.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
.titre{
  padding-left: 35px;
  color: white;
  padding-top: 85px;
  padding-bottom: 10px;
  margin-top: -10px;
}
.bar{
  position: fixed;
}
.espace{
  flex: 0 0 650px;
}
  